@charset "UTF-8";

@media screen and (min-width:600px) and (max-width:767px) {

p {
    text-align: center;
}

    .box-img-verde>.img-verde-tricarus {
        width: 110px;
    }

    .box-img-tricaru>.imgs-tricaru{
        width: 140px;
        height: auto;
        margin-bottom: 10px;
    }

    
    .box-imgs-runa-skill{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .box-imgs-runa-skill>.img-fullguard , .img-tricaru-skill{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 240px;
        height: 225px;
    }

    .box-img-verde>.img-verde{
        width: 135px;
    }
    
    .box-img-verde>.img-verde-runas {
        width: 450px;
    }

    .video-tricaru>iframe{
        width: 450px;
        height: 320px;
    }

}

@media screen and (min-width:768px) and (max-width:991px) {
    
    p {
        text-align: center;
    }
    
        .box-img-verde>.img-verde-tricarus {
            width: 110px;
        }
    
        .box-img-tricaru>.imgs-tricaru{
            width: 140px;
            height: auto;
            margin-bottom: 10px;
        }
    
        
        .box-imgs-runa-skill{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
        }
    
        .box-imgs-runa-skill>.img-fullguard , .img-tricaru-skill{
            margin-top: 10px;
            margin-bottom: 10px;
            width: 240px;
            height: 225px;
        }
    
        .box-img-verde>.img-verde{
            width: 135px;
        }
        
        .box-img-verde>.img-verde-runas {
            width: 450px;
        }
    
        .video-tricaru>iframe{
            width: 450px;
            height: 320px;
        }

}

@media screen and (min-width:992px) and (max-width:1199px) {

    p {
        text-align: center;
    }

    .big-box-tricaru {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
    
    .box-img-verde>.img-verde-tricarus {
        width: 115px;
    }

    .box-img-tricaru>.imgs-tricaru{
        width: 140px;
        height: auto;
        margin-bottom: 10px;
    }

    .box-imgs-runa-skill{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .box-imgs-runa-skill>.img-fullguard , .img-tricaru-skill{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 290px;
        height: 260px;
    }

    .tabela-tricaru-metade {
        display: none;
    }    

    .tabela-tricaru {
        display: block;
        width: 750px;
    }

    .box-img-verde>.img-verde{
        width: 135px;
    }
    
    .box-img-verde>.img-verde-runas {
        width: 570px;
    }

    .video-tricaru>iframe{
        width: 620px;
        height: 400px;
    }
    
}

@media screen and (min-width:1200px) {

    
    p {
        text-align: center;
    }

    .big-box-tricaru {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
    
    .box-img-verde>.img-verde-tricarus {
        width: 140px;
    }

    .box-img-tricaru>.imgs-tricaru{
        width: 170px;
        height: auto;
        margin-bottom: 10px;
    }

    .box-imgs-runa-skill{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .box-imgs-runa-skill>.img-fullguard , .img-tricaru-skill{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 320px;
        height: 290px;
    }

    .tabela-tricaru-metade {
        display: none;
    }    

    .tabela-tricaru {
        display: block;
        width: 780px;
    }

    .box-img-verde {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .box-img-verde>.img-verde{
        width: 180px;
    }
    
    .box-img-verde>.img-verde-runas {
        display: none;
    }

    .box-img-verde>.img-verde-runas2 {
        display: block;
        width: 400px;

    }

    .video-tricaru>iframe{
        width: 700px;
        height: 460px;
    }
    
}