@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width:767px){
    .imgsw-mundo2{
        width: 500px;
        height: auto;
    }
    .img-geral{
        width: 500px;
    }
}

@media screen and (min-width: 768px) and (max-width:991px){

    .primeirospassos1{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .primeirospassos1>.primeirospassos1-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .primeirospassos1>.imgsw-logo{
        display: none;
        width: 165px;
        height: auto;
        border-radius: 50%;
        margin: 0px 10px 0px 20px;
    }

    .img-geral{
        width: 500px;
    }

    .imgsw-mundo2{
        width: 500px;
        height: auto;
    }

}

@media screen and (min-width: 992px) and (max-width:1199px){
    
    .primeirospassos1{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .primeirospassos1>.primeirospassos1-2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .primeirospassos1>.primeirospassos1-2>p{
        text-indent: 0px;
    }

    .primeirospassos1>.imgsw-logo{
        display: block;
        width: 220px;
        height: auto;
        border-radius: 50%;
        margin: 0px 10px 0px 25px;
    }

    
    
}

@media screen and (min-width: 1200px){
    
}