@charset "UTF-8";

@media screen  and (min-width:600px) and (max-width:767px) {

    .resumo>div>.imghome {
        width: 280px;
        height: 280px;
    }
    
    .resumo>div>.imghome2{
        display: none;
    }

    .video>.video-home>iframe{
        width: 445px;
        height: 230px;
        transition: all 0.5s;
    }

}

@media screen  and (min-width:768px) and (max-width:991px) {

    .resumo>div>.imghome2{
        display: none;
    }

    .video>.video-home>iframe{
        width: 460px;
        height: 240px;
        transition: all 0.5s;
    }

}

@media screen  and (min-width:992px) and (max-width:1199px){

    .resumo{
        display: flex;
        flex-direction: row;
    }

    .resumo>div>.imghome {
        display: none;
    }

    .resumo>div>.imghome2 {
        display: block;
        width: 290px;
        height: 420px;
        margin: 0px 20px;
        border-radius: 10px;
    }
    
    .resumo>.texto-home{
        display: flex;
        flex-direction: column;
    }
    
    .video>.video-home>iframe{
        width: 620px;
        height: 324px;
        transition: all 0.5s;
    }

}

@media screen  and (min-width:1200px) {

    .resumo{
        display: flex;
        flex-direction: row;
    }

    .resumo>div>.imghome {
        display: none;
    }

    .resumo>div>.imghome2 {
        display: block;
        width: 290px;
        height: 420px;
        margin: 0px 20px;
        border-radius: 10px;
    }
    
    .resumo>.texto-home{
        display: flex;
        flex-direction: column;
    }

    .video>.video-home>iframe{
        width: 720px;
        height: 376px;
        transition: all 1s;
    }

}