@charset "UTF-8";

/***********************  Alteração de Screens  *****************************/

@media screen  and (min-width:600px) and (max-width:767px) {
    .painel-banner>.img-logo-painel{
        display: none;
        transition: height 1s;
    }
    .painel-banner>.img-banner-painel{
        display: block;
        transition: all 1s;
    }

    .big-box>.box-lateral {
        display: none;
        transition: all 1s;
    }

    .contato {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: all 1s;
    }

    .contato>.contato-logo>a>.img-react{
        width: 150px;
        margin-right: 0px;
    }

    .contato>.contato-info{
        margin-left: 0px;
    }

    .contato>.contato-info>p{
        margin-left: 0px;
        line-height: 18px;
    }

    .contato>.contato-apps{
        margin: 10px 0px;
    }

}

@media screen  and (min-width:768px) and (max-width:991px) {
    .painel-banner{
        border-radius: 0px 0px 10px 10px;
        height: 230px;
        transition: height 1s;
    }

    .painel-banner>.img-logo-painel{
        display: none;
        transition: all 1s;
    }

    .painel-banner>.img-banner-painel{
        display: block;
        width: 400px;
        transition: all 1s;
    }

    .big-box>.box-lateral{
        display: block;
        transition: all 1s;
    }
    
    #menuHamb{
        display: none;
        transition: all 1s;
    }

    main {
        max-width: 772px;
        transition: all 1s;
    }

    .contato {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transition: all 1s;
    }

    .contato>.contato-logo>a>.img-react{
        width: 150px;
        margin-right: 0px;
    }

    .contato>.contato-info{
        margin-left: 0px;
    }

    .contato>.contato-info>p{
        margin-left: 0px;
        line-height: 18px;
    }

    .contato>.contato-apps{
        margin: 10px 0px;
    }


}

@media screen  and (min-width:992px) {
    .painel-banner{
        border-radius: 0px 0px 10px 10px;
        height: 260px;
        transition: height 1s;
    }
    .painel-banner>.img-banner-painel{
        display: block;
        width: 480px;
        transition: all 1s;
    }    

    .painel-banner>.img-logo-painel{
        display: none;
        transition: all 1s;
    }
    
    .big-box>.box-lateral{
        display: block;
        transition: all 1s;
    }

    #menuHamb{
        display: none;
        transition: all 1s;
    }

    
    main {
        max-width: 981px;
        transition: all 1s;
    }

    .contato {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        transition: all 1s;
    }

    .contato>.contato-logo>a>.img-react{
        width: 150px;
        margin-right: 0px;
    }

    .contato>.contato-info{
        margin-left: 0px;
    }

    .contato>.contato-info>p{
        margin-left: 0px;
        line-height: 18px;
    }

    .contato>.contato-apps{
        margin: 10px 0px;
    }


}