@charset "UTF-8";

/***********************  Alteração de Screens  *****************************/

@media screen  and (min-width:600px) and (max-width:767px) {


}

@media screen  and (min-width:768px) and (max-width:991px) {

     .big-box>.box-menu-lateral{
        display: block;
    }

    .painel-banner{
        border-radius: 0px 0px 5px 5px;
        height: 230px;
    }
    .painel-banner>.img-painel{
        width: 400px;
    }
    
    #menuHamb{
        display: none;
    }

    main {
        max-width: 772px;
    }

}

@media screen  and (min-width:992px) {
    
    .big-box>.box-menu-lateral{
        display: block;
    }

    .painel-banner{
        border-radius: 0px 0px 5px 5px;
        height: 260px;
    }
    .painel-banner>.img-painel{
        width: 460px;
    }

    #menuHamb{
        display: none;
    }

    
    main {
        max-width: 981px;
    }

}