@charset "UTF-8";

h3{
    text-align: center;
}


.box-img-tricaru{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-img-tricaru>.imgs-tricaru{
    width: 93px;
    height: 85px;
}

.box-img-verde{
    display: flex;
    justify-content: center;
}

.box-img-verde>.img-verde-tricarus{
    width: 70px;
    height: 105px;
}