@charset "UTF-8";

h3{
    text-align: center;
}

.primeirospassos1>.primeirospassos1-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.imgsw-logo {
    display: none;
}

.imgsw-mundo{
    display: none;
    transition: all 0.5s;
}

.imgsw-mundo2{
    width: 283px;
    height: 165px;
    transition: all 0.5s;
}

.img-box {
    display: flex;
    justify-content: center;

}
.img-geral{
    width: 283px;
    transition: all 0.5s;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

