@charset "UTF-8";

h3{
    text-align: center;
}

.box-img-verde{
    display: flex;
    justify-content: center;
}

.box-img-verde>.img-verde-tricarus{
    width: 78px;
    box-shadow: none;
}

.box-img-tricaru{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.box-img-tricaru>.imgs-tricaru{
    width: 105px;
    box-shadow: none;
}

.box-imgs-runa-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.box-imgs-runa-skill>.img-fullguard, .img-tricaru-skill {
    width: 260px;
    height: 240px;
    border-radius: 5%;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.30);
}

.box-imgs-runa-skill>.img-fullguard{
    margin-bottom: 25px;
}

.box-tabelas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela-tricaru{
    display: none;
}

.tabela-tricaru-metade {
    width: 260px;
    border-radius: 5px;
}

.box-img-verde>.img-verde{
    width: 95px;
}

.box-img-verde>.img-verde-runas{
    width:270px;
    border-radius: 5%;
    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.30);
    margin: 15px 0px;
}

