@charset "UTF-8";

/****************************  Resumo  *********************************/

.resumo {
    margin: 20px 0px 10px 0px;
    text-align: center;
}

.resumo>.imghome {
    width: 260px;
    height: 270px;
}

.resumo>p{
    padding: 5px 15px;
    text-align: justify;
}

/******************************  Video  *****************************/

.video{
    margin-bottom: 20px;
}

.video>#video-home{
    display: flex;
    justify-content: center;
}

.video>#video-home>iframe{
    border-radius: 10px 10px;
    border: 5px solid black;
}
