@charset "UTF-8";

/****************************  Resumo  *********************************/

.resumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumo>div>.imghome {
    width: 250px;
    height: 280px;
    border-radius: 10px;
}

.resumo>.imghome2 {
    display: none;
}

.resumo>div>p {
    padding: 5px 15px;
    text-align: justify;
}

/******************************  Video  *****************************/

.video{
    margin-bottom: 20px;
}

.video>.video-home{
    display: flex;
    justify-content: center;
}

.video>.video-home>iframe{
    border-radius: 10px 10px;
    border: 3px solid black;
    width: 270px;
    height: 181px;
    transition: all 0.5s;
}
