@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&display=swap');
  /* font-family: 'Acme', sans-serif; */

a {
    color: black;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin: 10px 0px;
}

p {
    text-align: justify;
    text-indent: 10px;
    margin-bottom: 10px;

}

section {
    padding: 0px 10px;
    line-height: 23px;

}

a, p, h1, h2, h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
}

img {
    border-radius: 5%;
    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.30);
    margin: 15px 0px;
}

hr {
    margin: 20px 6%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.723);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.285);
}

.text-blue{
    color: #16b4c5;
}

.text-center{
    text-align: center;
}

body{
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 0px 5px;
}

/****************************  Painel  *****************************/

.painel-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 5px solid rgb(62, 197, 212);
    background-color: black;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.164);
}

.painel-banner>.img-banner-painel{
    display: none;
    width: 360px;
}

.painel-banner>.img-logo-painel{
    display: block;
    width: 195px;
}

/******************************  Menu  *******************************/

header{
    margin-top: -1px;
    background-color: #3EC5D4;
    color: black;
    display: grid;
    justify-content: center;
    justify-items: center;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.164);
}

#menuHamb {
    height: 30px;
    display: grid;
    align-items:  center;
}

#menu {
    display: none;
    margin-bottom: 10px;
}

nav {
    display: grid;
    justify-content: center;
}

nav > a {
    padding: 4px 14px;
    text-decoration: none;
    color: white;
    border-radius: 5px 5px;
}

nav > a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
}

/*****************************  Main  ********************************/

main {
    max-width: 545px;
    margin: auto;
}

/*****************************  Comunicado  ********************************/

.comunicado{
    margin: 20px 0px 10px 0px;
    padding: 0px 15px;
    text-align: center;
}

.comunicado>h2{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 1.1em;
}

.comunicado>h3{
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
}

/******************************  Contatos  *****************************/

.contato {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.22) ; 
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    line-height: 19px;
}

.contato>div>a>.imgreact{
    width: 105px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contato>#contato2>.sobrenos{
    text-align: center;
    color: white;
}

.contato>#contato2>div>p{
    text-indent: 0px;
    text-align: center;
    margin-bottom: 1px;
}

.contato>#contato2>.sobrenos>p>a{
    color: white;
}

.contato>#contato2>.sobrenos>p>a:hover{
    color: #3EC5D4;
}

.contato>#contato2>.sobrenos>p{
    padding-bottom: 6px;
}

.contato>a>.imgappstore{
    width: 250px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: all 0.2s;
}

.contato>a>.imgappstore:hover{
    width: 270px;
    height: 80px;
    margin-bottom: -5px;
    transition: all 0.2s;
}

.contato>a>.imggoogleplay{
    width: 236px;
    height: 69px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.2s;
}

.contato>a>.imggoogleplay:hover{
    width: 250px;
    height: 79px;
    margin-bottom: -5px;
    transition: all 0.2s;
}

.contato>#contato2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;
}

/****************************  Barra Lateral  ***************************/

.big-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.big-box>.box-lateral{
    display: none;
    margin: 20px 0px;
    min-width: 200px;
    max-width: 200px; 
}

.big-box>.box-lateral>.cases {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(62, 197, 212, 0.622);
    background-color: rgba(62, 197, 212, 0.105);
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.17);
}

.big-box>.box-lateral>.cases>div>p{
    text-indent: 0px;
}

.big-box>.box-lateral>.cases>.case-logo{
    display: flex;
    align-items: center;
    background-color: black;
    height: 190px;
}

.big-box>.box-lateral>.cases>.case-logo>.img-logo-lateral{
    margin: 0px;
    width: 190px;
    box-shadow: none;
    border-radius: none;
}

.big-box>.box-lateral>.box-lateral-case1>.case-logo{
    width: 180px;
}



/******************************  Footer  *******************************/

footer {
    margin: auto;
    margin-top: 1px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 0.80em;
    font-weight: 700;
    background-color: #3ec5d4e7;
    color: rgba(0, 0, 0, 0.508);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
} 

footer>p {
    line-height: 15px;
    text-indent: 0px;
    text-align: center;
    margin-bottom: 0px;
}

