@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&display=swap');
  /* font-family: 'Acme', sans-serif; */

a {
    color: black;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin: 10px 0px;
}

p {
    text-align: justify;
    text-indent: 10px;
    margin-bottom: 10px;

}

section {
    padding: 0px 10px;
    line-height: 23px;

}

a, p, h1, h2, h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
}

img {
    border-radius: 10px;
    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.30);
    margin: 15px 0px;
}

hr {
    margin: 20px 6%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.723);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.285);
}

.text-blue{
    color: #16b4c5;
}

.text-center{
    text-align: center;
}

body{
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 0px 5px;
}

/****************************  Painel  *****************************/

.painel-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 5px solid rgb(62, 197, 212);
    background-color: black;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.164);
    transition: height 1s;
}

.painel-banner>.img-banner-painel{
    display: none;
    margin: 0px;
    width: 360px;
    transition: all 1s;
}

.painel-banner>.img-logo-painel{
    display: block;
    width: 195px;
    transition: all 1s;
}

/******************************  Menu  *******************************/

header{
    margin-top: -1px;
    background-color: #3EC5D4;
    color: black;
    display: grid;
    justify-content: center;
    justify-items: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.164);
}

#menuHamb {
    height: 30px;
    display: grid;
    align-items:  start;
}

#menu {
    display: none;
    margin-bottom: 10px;
}

#menu>.mh-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu>.mh-itens> a {
    padding: 4px 14px;
    text-decoration: none;
    color: white;
    border-radius: 5px 5px;
}

#menu>.mh-itens> a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
}

/**************************  Segundo Menu  ****************************/

.menu-grande {
    display: none;
}

.menu-grande>.mg-box>.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 743px;
}


.menu-grande>.mg-box>.menu {
    list-style: none;
    float: left;
    margin: 5px 0px 10px 0px;

}

.menu-grande>.mg-box>.menu>.botao-home{
    border: 2px solid rgba(255, 255, 255, 0.216);
    border-radius: 10px;
    margin-left: 5px;
    width: 120px;
}

.menu-grande>.mg-box>.menu>li{
    position: relative;
    float: left;
    text-align: center;
    width: 173px;
    padding: 10px 0px;
}

.menu-grande>.mg-box>.menu>li>a{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
}

.menu-grande>.mg-box>.menu>li>ul{
    position: absolute;
    top: 40px;
    left: 0px;
    display: none;
}

.menu-grande>.mg-box>.menu>li:hover, .menu-grande>.mg-box>.menu>li:hover>ul{
    display: block;
}

.menu-grande>.mg-box>.menu>li{
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.5s;
    border-radius: 10px;
}

.menu-grande>.mg-box>.menu>li:hover{
    background-color: rgba(0, 0, 0, 0.916);
    color:white;
    border: 2px solid white;
    transition: all 0.5s;
}

.menu-grande>.mg-box>.menu>li>ul{
    background-color: #000000;
    width: 169px;
    border: 2px solid black;
    border-radius: 5px;
}

.menu-grande>.mg-box>.menu>li>ul>li{
    display: block;
    padding: 10px;
    font-size: 0.85em;
    background-color: white;
    transition: all 0.5s;
    margin: 1px 0px;
}

.menu-grande>.mg-box>.menu>li>ul>li>a{
    padding: 10px 13px;
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-weight: 600;
    transition: all 0.5s;
}

.menu-grande>.mg-box>.menu>li:hover>ul>li:hover{
    background-color: black;
    transition: all 0.5s;
}

.menu-grande>.mg-box>.menu>li:hover>ul>li>a:hover{
    color: #ffffff;
    transition: all 0.5s;
}

/*****************************  Main  ********************************/

main {
    max-width: 550px;
    margin: auto;
    margin-bottom: 15px;
}

/*****************************  Comunicado  ********************************/

.comunicado{
    margin: 20px 0px 10px 0px;
    padding: 0px 15px;
    text-align: center;
}

.comunicado>h2{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 1.1em;
}

.comunicado>h3{
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
}

/****************************  Barra Lateral  ***************************/

.big-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.big-box>.box-lateral{
    display: none;
    margin: 20px 0px;
    min-width: 200px;
    max-width: 200px;
    transition: all 0.5s;
}

.big-box>.box-lateral>.cases {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(62, 197, 212, 0.622);
    background-color: rgba(62, 197, 212, 0.105);
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.17);
}

.big-box>.box-lateral>.cases>h4{
    margin: 5px 0px;
}

.big-box>.box-lateral>.cases>p{
    text-indent: 0px;
}

.big-box>.box-lateral>.cases>.case-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px 0px;
}

.big-box>.box-lateral>.cases>.case-texto>p{
    margin: 6px 0px;
}

.big-box>.box-lateral>.cases>.case-logo{
    display: flex;
    align-items: center;
    background-color: black;
    height: 190px;
}

.big-box>.box-lateral>.cases>.case-logo>.img-logo-lateral{
    margin: 0px;
    width: 190px;
    box-shadow: none;
    border-radius: none;
}

/******************************  Contatos  *****************************/

.contato {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.22) ; 
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    line-height: 19px;
}

.contato>.contato-logo>a>.img-react{
    width: 130px;
    margin: 5px;
}

.contato>.contato-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 5px;
}

.contato>.contato-info>p{
    text-indent: 0px;
    line-height: 15px;
}

.contato>.contato-info>p>a{
    color: white;
    transition: all 0.5s;
}

.contato>.contato-info>p>a:hover {
    color: #3EC5D4;
    transition: all 0.5s;
}

.contato>.contato-apps {
    display: flex;
    flex-direction: column;
}

.contato>.contato-apps>a>.img-appstore, .img-googleplay {
    width: 210px;
    margin: 5px;
}

/******************************  Footer  *******************************/

footer {
    margin: auto;
    margin-top: 1px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 0.80em;
    font-weight: 700;
    background-color: #3ec5d4e7;
    color: rgba(0, 0, 0, 0.508);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
} 

footer>p {
    line-height: 15px;
    text-indent: 0px;
    text-align: center;
    margin-bottom: 0px;
}

