@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&display=swap');
  /* font-family: 'Acme', sans-serif; */

a {
    color: black;
    text-decoration: none;
}

h3 {
    font-family: 'Acme', sans-serif;
    margin: 10px 0px;
}

p {
    text-indent: 30px;
    margin-bottom: 15px;
}

section {
    padding: 0px 10px;
    line-height: 23px;

}

a, p, h1, h2, h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
}

.text-blue{
    color: #16b4c5;
}

body{
    min-width: 300px;
    max-width: 768px;
    margin: auto;
    padding: 0px 5px;
}

/****************************  Painel  *****************************/

.painel-banner {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 200px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.164);
    background: black url('../imagens/banner-sw2.png') center center no-repeat;
    background-size: contain;
    padding: 10px 0px;
}  

/******************************  Menu  *******************************/

header{
    background-color: #3EC5D4;
    color: black;
    display: grid;
    justify-content: center;
    justify-items: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.164);
}

#menuHamb {
    height: 30px;
    display: grid;
    align-items:  center;
}

#menu {
    display: none;
    margin-bottom: 10px;
}

nav {
    display: grid;
    justify-content: center;
}

nav > a {
    padding: 4px 14px;
    text-decoration: none;
    color: white;
    border-radius: 5px 5px;
}

nav > a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
}

/*****************************  Comunicado  ********************************/

.comunicado{
    margin: 20px 0px 10px 0px;
    padding: 0px 15px;
    text-align: center;
}

.comunicado>h2{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 1.1em;
}

.comunicado>h3{
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
}

/***************************  HR ***************************************/

hr {
    margin: 25px 6%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.723);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.285);
}

/******************************  Contatos  *****************************/

.contato {
    width: auto;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.22) ; 
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    line-height: 19px;
}

.contato>div>a>.imgreact{
    width: 90px;
}

.contato>a>.imggoogleplay{
    width: 236px;
    height: 69px;
    margin-bottom: 10px;
    transition: all 0.2s;
}

.contato>a>.imggoogleplay:hover{
    width: 250px;
    height: 79px;
    margin-top: -10px;
    transition: all 0.2s;
    
}

.contato>a>.imgappstore{
    width: 250px;
    height: 70px;
    margin-bottom: 5px;
    transition: all 0.2s;
}

.contato>a>.imgappstore:hover{
    width: 270px;
    height: 80px;
    margin-bottom: -5px;
    transition: all 0.2s;
}

.contato>#contato2>.sobrenos{
    text-align: center;
    color: white;
}

.contato>#contato2>div>p{
    text-indent: 0px;
    text-align: center;
    margin-bottom: 1px;
}

.contato>#contato2>.sobrenos>p>a{
    color: white;
}

.contato>#contato2>.sobrenos>p>a:hover{
    color: #3EC5D4;
}

.contato>#contato2>.sobrenos>p{
    padding-bottom: 6px;
}

.contato>#contato2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;
}

/******************************  Footer  *******************************/

footer {
    margin: auto;
    margin-top: 1px;
    padding: 10px 15px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 0.80em;
    font-weight: 700;
    background-color: #3ec5d4bb;
    color: rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
} 

footer>p {
    line-height: 10px;
    text-indent: 10px;
    text-align: center;
}